/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center; /* מרכז את התוכן בתוך הגוף */
}

h1, h2 {
    color: #333;
    margin: 8px 0;
}

form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block; /* מאפשר את המרכזת של הטופס */
    margin-top: 8%; /* מוסיף רווח מלמעלה */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}